<div class="navbar navbar-expand-sm navbar-secondary navbar-lewagon ">
  <%= link_to "#", class: "navbar-brand" do %>
    <%= image_tag "https://image.shutterstock.com/image-vector/film-strip-round-banner-design-260nw-260628887.jpg" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <%# <li class="nav-item active">
        <%= link_to "Home", "#", class: "nav-link" %>
      <%# </li> %>
      <li class="nav-item">
        <%= link_to 'New List', new_list_path, class: 'btn btn-xs btn-warning'%>
      </li>
    </ul>
  </div>
</div>


<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.cityofburnet.com/sites/default/files/styles/banner_home/public/imageattachments/banner/3701/movie_night.png?itok=lXhha1DH)">
  List of the Movies
</div>

<div class="row justify-content-center">
  <div class="col-md-9">

    <div class="cards mt-4">
      <% @lists.each do |list| %>

        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.osn.com/getattachment/watch/hot-topics/osn-blogs/May-2018/Laugh-out-loud-with-our-top-comedy-movies/ted.jpg.aspx)">

          <%= link_to list.name, list_path(list) %>
        </div>
      <% end %>

  </div>
</div>
